<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageUrl</key>
		<string>http://n3-q.mafengwo.net/s7/M00/09/95/wKgB6lP_JUmAfdmNAARFVc9q33g87.jpeg?imageMogr2%2Fthumbnail%2F%21690x450r%2Fgravity%2FCenter%2Fcrop%2F%21690x450%2Fquality%2F90%7Cwatermark%2F1%2Fimage%2FaHR0cDovL24xLXEubWFmZW5nd28ubmV0L3M4L00wMC82Mi83OS93S2dCcFZodUN6Q0FJa3RIQUFBTkc4TDlCUU0xNjAucG5n%2Fgravity%2FNorthWest%2Fdx%2F20%2Fdy%2F21</string>
		<key>title</key>
		<string>十渡</string>
		<key>summary</key>
		<string>六渡村位于十渡镇政府东南方向，相距13华里，全村142户，436人。六渡村是通往十渡的旅游窗口，是十渡风景区的第一中心，有150米长的橡胶坝立于六渡宽阔的水面上，景观优新，形成了碧波水上游乐园，吃住一体化，是游客的好去处。北与石人峰景区相邻，西与孤山寨景区相近，地理位置优越，马路两旁边树木成荫，更是游客青睐的地方</string>
		<key>createDate</key>
		<string>2017-03-19T09:29:27Z</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>http://c4-q.mafengwo.net/s6/M00/27/D9/wKgB4lKOFVuAViD3AASedqKdTD492.jpeg?imageMogr2%2Fthumbnail%2F%21690x370r%2Fgravity%2FCenter%2Fcrop%2F%21690x370%2Fquality%2F100</string>
		<key>title</key>
		<string>石花洞</string>
		<key>summary</key>
		<string>坡峰岭的红叶指数直逼香山啊，满山黄栌的景色远远超越香山，关键人比红叶少啊。坡峰岭位于房山周口店镇黄山店村，自驾过去路程70公里，约需一个半小时。景区内有6公里的登山步道，可以去往鹰嘴岩，然后下山，上下山路分开。景区爬山强度不大，爬一会就会有平路休息，下山路比上山路更好走一些。坡峰岭层岭尽染，满山红遍，胜于香山，真是一个赏红叶的好去处。</string>
		<key>createDate</key>
		<string>2017-03-19T09:29:27Z</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>http://b4-q.mafengwo.net/s7/M00/F6/F0/wKgB6lRXGLiAfsusAAhh-ZQ574g23.jpeg?imageMogr2%2Fthumbnail%2F%21450x450r%2Fgravity%2FCenter%2Fcrop%2F%21450x450%2Fquality%2F90%7Cwatermark%2F1%2Fimage%2FaHR0cDovL24xLXEubWFmZW5nd28ubmV0L3M4L00wMC82Mi83OS93S2dCcFZodUN6Q0FJa3RIQUFBTkc4TDlCUU0xNjAucG5n%2Fgravity%2FNorthWest%2Fdx%2F20%2Fdy%2F21</string>
		<key>title</key>
		<string>坡峰岭</string>
		<key>summary</key>
		<string>云居寺位于北京西南房山区境内，距市中心70公里。占地面积70000多平方米。由云居寺、石经山藏经洞、唐辽塔群构成中国佛教文化特色一大宝库。云居寺始建于隋末唐初，初名“智泉寺”，后改称“云居寺”，寺院占地面积0.07平方公里，经过历代修葺，形成五大院落六进殿宇。20世纪40年代毁于日军炮火中。解放后，经过两次大规模修复。</string>
		<key>createDate</key>
		<string>2017-03-19T09:29:27Z</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>http://h2.bytravel.cn/www/19/heads/18768.gif</string>
		<key>title</key>
		<string>仙栖洞</string>
		<key>summary</key>
		<string>距市区60公里，是北方最大的水旱一体的大型溶洞群，以形似银孤的钟乳而得名。洞内多层多支，如同地下迷宫；洞深长4500米，有1500米水道，水流清幽，一年四季不冻。泛舟其上，船动水不动，如入仙境。从地面看银狐洞真乃道家仙境一般，进入溶洞仿佛掉进地狱。公共设施很差，年久失修，虽然有免费导游带领进入和讲解，但也弥补不了景点的辅助设施。</string>
		<key>createDate</key>
		<string>2017-03-19T09:29:27Z</string>
	</dict>
</array>
</plist>
